body {
    font-family: Arial, sans-serif;
    background-color: #60a076;
    margin: 0;
    padding: 40px 20px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 40px;
}

/* de rij met dieren */
.personen {
    display: flex;
    gap: 30px;
    overflow-x: auto;
    padding: 30px 20px;
    background: white;
    border-radius: 15px;
    max-width: 900px;
    margin: 0 auto;
}

/* elk dier */
.dier {
    min-width: 100px;
    text-decoration: none;
    color: #333;
}

/* icoon groote/*/
.icoon {
    font-size: 55px;
}

/* hover: icoon*/
.dier:hover .icoon {
    transform: scale(1.3);
}

.dier p {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

/* de knop naar campus */
.knop {
    display: inline-block;
    margin-top: 40px;
    background-color: #a5b970;
    color: white;
    padding: 14px 28px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
}

.knop:hover {
    background-color: #376046;
}