body { 

    background-image: url("../assets/greensquadpage.png"); 
    background-size: cover;
    backdrop-filter: blur(6px);
    
    color: #3d342b;
}

.eten-inhoud {
    display: flex;
    gap: 30px;
    align-items: flex-start;

    width: 95%;
    max-width: 1400px;

    margin: 0 auto;

}

.plattegrond { 
    position: relative;

    width: 67%;  
    aspect-ratio: 4 / 3; /*zorgt dat alles op zn plek blijft zitten ongeacht schermgrootte*/

    background-color: #dfe8d5;
    
    border-radius: 25px;
    overflow: hidden;
}


.informatie { 
    width: 35%;
    background-color: white;
    padding: 30px;
    border-radius: 25px;
    min-width: 400px;
}

.gebouw { 
    position: absolute;
    width: 105px;
    height: 62px;

    border: none;
    border-radius: 12px;

    color: white;
    cursor: pointer;
    transition: 0.3s;

    z-index: 6;
}

.gebouw strong {
    display: block;
    font-size: 18px;
}

.gebouw span {
    display: block;
    font-size: 12px;
    margin-top: 5px;
}

.bph {
    top: 46%;
    left: 18%;
    width: 90px;
    height: 50px;
    background-color: #e9874a;
}

.kmh {
    top: 47%;
    left: 87%;
    width: 85px;
    height: 50px;
    background-color: #e9b949;
}

.wbh { 
    top: 27%;
    left: 7%;
    height: 130px;
    background-color: #6fa36b;
}

.tth {
    left: 55%;
    top: 27%;
    width: 120px;
    height: 130px;
    background-color: #c27ba0;
}

.ksh {
    left: 75%;
    top: 27%;
    width: 85px;
    background-color: #6f9ed6;
}

.mlh {
    left: 13%;
    top: 4%;
    width: 130px;
    background-color: #d46a6a; 
}

.jmh {
    left: 75%;
    top: 47%;
    width: 85px;
    height: 50px;
    background-color: #8c6bb1;

}


.gebouw:hover { 
    transform: scale(1.08);
    z-index: 10;
}

.informatie {
    width: 50%;
    background-color: white;
    padding: 30px;
    border-radius: 25px;
    min-height: 500px;
}

.gras { 
    position: absolute;
    background-color: #c8ddb8;
    border-radius: 20px;
    z-index: 1;
}


.gras-1 {
    left: 62%;
    top: 6%;

    width: 12%;
    height: 10%;
}

.gras-2 {
    left: 30%;
    top: 76%;

    width: 90px;
    height: 60px;
}

.boom { 
    position: absolute;
    font-size: 18px;

    z-index: 4;
}

.boom-1 {
    left: 34%;
    top: 8%;
}

.boom-2 {
    left: 82%;
    top: 8%;
}

.boom-3 {
    left: 35%;
    top: 33%;
}

.boom-4 {
    left: 92%;
    top: 65%;
}

.boom-5 {
    left: 12%;
    top: 65%;
}

.boom-6 {
    left: 90%;
    top: 68%;
}
.water { 
    position: absolute;

    top: 60%;
    left: -5%;

    width: 110%;
    height: 15%;

    background: linear-gradient(#83ced9, #61b7c6);

    border-radius: 50% 40% 55% 35% / 35% 55% 40% 60%;

    transform: rotate(-2deg);

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 14px;

    padding: 0;

    z-index: 3;
}

.weg-horizontaal { 
    position: absolute;

    left: 0;
    top: 22%;

    width: 100%;
    height: 5%;

    background-color: #d6d3cd;
}

.weg-verticaal {
    position: absolute;

    top: 80px;
    left: 48%;

    width: 40px;
    height: 520px;

    background-color: #d6d3cd;
}

.gebouw {
    z-index: 3;
}

.water {
    z-index: 3;
}

.hoofdweg {
    left: 46%;
    top: 0;

    width: 6%;
    height: 100%;

    background-color: #cbc9c2;

    border-left: 3px solid white;
    border-right: 3px solid white;

}

.dwarsweg-boven {
    left: 0;
    top: 20%;

    width: 100%;
    height: 5%;

    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

.kadeweg {
    left: 0;
    top: 55%;

    width: 100%;
    height: 5%;

    border-top: 3px solid white;
    border-bottom: 3px solid white;
}


.weg-horizontaal,
.weg-verticaal {
    z-index: 1;
}

.weg {
    position: absolute;
    background-color: #cbc9c2;
    box-sizing: border-box;
    z-index: 2;
}

.weg-lijn { 
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    border-top: 2px dashed white;
}

.fietspad {
    position: absolute;

    background-color: #c86464;

    z-index: 3;
}

.fietspad-1 {
    left: 47%;
    top: 0;

    width: 5px;
    height: 55%;
    background-color: #c86464;
}

.fietspad-2 {
    left: 0;
    top: 57%;

    width: 100%;
    height: 5px;
    background-color: #c86464;
}


