body { 
    background-color: #fff8ed;
    color: #3d342b;
}

.eten-inhoud {
    display: flex;
    gap: 40px;

}

.plattegrond { 
    width: 50%;
    height: 600px;
    background-color: #dfe8d5;
    position: relative;
    border-radius: 25px;
    overflow: hidden;
}

.informatie { 
    width: 50%;
}

.gebouw { 
    position: absolute;
    width: 160px;
    height: 100px;

    border: none;
    border-radius: 18px;

    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.gebouw strong {
    display: block;
    font-size: 24px;
}

.gebouw span {
    display: block;
    font-size: 12px;
    margin-top: 5px;
}

.bph {
    left: 50px;
    top: 285px;
    left: 10px;
    background-color: #e9874a;
}

.kmh {
    right: 50px;
    top: 185px;
    left: 10px;
    background-color: #e9b949;
}

.wbh { 
    right: 50px;
    top: 385px;
    left: 10px;
    background-color: #6fa36b;
}

.tth {
    right: 40px;
    top: 190px;
    background-color: #c27ba0;

}

.ksh {
    right: 40px;
    top: 480px;
    background-color: #6f9ed6;

}

.mlh {
    right: 40px;
    top: 380px;
    background-color: #d46a6a; 

}

.jmh {
    right: 40px;
    top: 300px;
    background-color: #8c6bb1;

}

.studio-hva { 
    right: 50px;
    top: 400px;
    left: 10px;
    background-color: #5fa8a0;
}

.gebouw:hover { 
    transform: scale(1.08);
    z-index: 10;
}

.informatie {
    width: 50%;
    background-color: white;
    padding: 30px;
    border-radius: 25px;
    min-height: 500px;
}

.water { 
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 80px;

    background-color: #8ed1dc;

    text-align: center;
    padding-top: 20px;
}

.weg-horizontaal { 
    position: absolute;

    left: 0;
    top: 150px;

    width: 100%;
    height: 35px;

    background-color: #d6d3cd;
}

.weg-verticaal {
    position: absolute;

    top: 80px;
    left: 48%;

    width: 40px;
    height: 520px;

    background-color: #d6d3cd;
}
